.contact_container {
  font-family: 'Barlow', sans-serif;
  overflow: hidden;
  position: relative;
  padding-top: 70px;
  height: calc(100% - 70px);
  background: #e4e4e4;
}

.contact_container .center {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 1000px) {
  .contact_container .center {
    padding: 70px 0;
  }
}

@media screen and (max-width: 1000px) {
  .contact_container .center {
    padding: 30px 0;
  }
}

@media screen and (min-width: 600px) {
  .contact_container .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .contact_container .center > div {
    width: 100%;
  }
}

.contact_container .center .contactbox {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .contact_container .center .contactbox {
    padding: 20px 40px;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .contact_container .center .contactbox {
    padding: none;
  }
}

.contact_container .center .contactbox h2 {
  font-weight: 900;
}

@media screen and (min-width: 1000px) {
  .contact_container .center .contactbox h2 {
    font-size: 120px;
  }
}

@media screen and (max-width: 1000px) {
  .contact_container .center .contactbox h2 {
    font-size: 12vw;
  }
}

@media screen and (min-width: 600px) {
  .contact_container .center .contactbox h2 {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 600px) {
  .contact_container .center .contactbox h2 {
    margin: 30px;
    text-align: center;
  }
}

.contact_container .center .contactbox figure {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 25px;
}

@media screen and (min-width: 600px) {
  .contact_container .center .contactbox figure::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 190px;
    background: #000;
    top: -25px;
    left: -25px;
  }
}

@media screen and (max-width: 600px) {
  .contact_container .center .contactbox figure::before {
    display: none;
  }
}

.contact_container .center .contactbox figure img {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #000;
}

.contact_container .center .contactbox p {
  margin-bottom: 20px;
  width: 250px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
}

.contact_container .center .contactbox p span {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

.contact_container .center .contactbox p span b, .contact_container .center .contactbox p span a {
  font-weight: 500;
}

.contact_container .center .contactbox p span b::before, .contact_container .center .contactbox p span a::before {
  content: "/";
  display: inline-block;
  margin: 0 10px;
  font-weight: 700;
}

.contact_container .center .contactbox p span a {
  font-weight: 500;
}

.contact_container .center .contactbox p span a:hover {
  text-decoration: underline;
}

.contact_container .center .fnb {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .contact_container .center .fnb {
    padding: 30px 0;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .contact_container .center .fnb {
    padding: 15px 0;
  }
}

.contact_container .center .fnb p {
  font-weight: 700;
}

@media screen and (min-width: 1000px) {
  .contact_container .center .fnb p {
    font-size: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .contact_container .center .fnb p {
    font-size: 8vw;
  }
}

@media screen and (max-width: 600px) {
  .contact_container .center .fnb p {
    text-align: center;
  }
}

.contact_container .center .fnb p a {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

.contact_container .center .fnb p a::after {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #e04522;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transform-origin: left left;
          transform-origin: left left;
}

.contact_container .center .fnb p a:hover {
  color: #e04522;
}

.contact_container .center .fnb p a:hover::after {
  width: 100%;
}

.contact_container .circle {
  position: absolute;
  background: #fca3b2;
  -webkit-transform-origin: 40% 50%;
          transform-origin: 40% 50%;
}

@media screen and (min-width: 600px) {
  .contact_container .circle {
    width: 15vw;
    height: 15vw;
    border-radius: 15vw;
  }
}

@media screen and (max-width: 600px) {
  .contact_container .circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
}

.contact_container .circle.circle1 {
  -webkit-animation: rotate1 12s linear infinite;
          animation: rotate1 12s linear infinite;
}

.contact_container .circle.circle2 {
  -webkit-animation: rotate2 12s linear infinite;
          animation: rotate2 12s linear infinite;
}

.contact_container .circle.circle3 {
  -webkit-animation: rotate3 16s linear infinite;
          animation: rotate3 16s linear infinite;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translate(7vh, -3vh);
            transform: translate(7vh, -3vh);
  }
  75% {
    -webkit-transform: translate(3vh, 10vh);
            transform: translate(3vh, 10vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translate(7vh, -3vh);
            transform: translate(7vh, -3vh);
  }
  75% {
    -webkit-transform: translate(3vh, 10vh);
            transform: translate(3vh, 10vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-5vh, 10vh);
            transform: translate(-5vh, 10vh);
  }
  75% {
    -webkit-transform: translate(10vh, -8vh);
            transform: translate(10vh, -8vh);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-5vh, 10vh);
            transform: translate(-5vh, 10vh);
  }
  75% {
    -webkit-transform: translate(10vh, -8vh);
            transform: translate(10vh, -8vh);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(13vh, -5vh);
            transform: translate(13vh, -5vh);
  }
  75% {
    -webkit-transform: translate(14vh, -17vh);
            transform: translate(14vh, -17vh);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes rotate3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(13vh, -5vh);
            transform: translate(13vh, -5vh);
  }
  75% {
    -webkit-transform: translate(14vh, -17vh);
            transform: translate(14vh, -17vh);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
